*.class

divconq.core/bin
divconq.interchange/bin
divconq.tasks/bin
divconq.tasks.api/bin
divconq.web/bin

divconq.core/target
divconq.interchange/target
divconq.tasks/target
divconq.tasks.api/target
divconq.web/target

divconq.core/pom.xml.releaseBackup
divconq.core/release.properties
