
/* 
	flex 
	
	hints from: 
	http://css-tricks.com/snippets/css/a-guide-to-flexbox/
	http://css-tricks.com/autoprefixer/
	http://the-echoplex.net/flexyboxes/
*/

.dcappWrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	text-align: center;

	max-width: 1200px;
	margin: 0 auto;
}

.dcappWrapper > * {
	padding: 10px;
	
	-webkit-box-flex: 1 100%;
	-moz-box-flex:  1 100%;
	-webkit-flex: 1 100%;
	-ms-flex:  1 100%;
	flex: 1 100%;
	
	min-width: 0;
}

/* -----------------------------------------------
	header grid
----------------------------------------------- */

#dcappHeader {
	background: black;
}

#dcappHeaderGrid {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	
	color: white;
	padding: 4px 10px;
	
	background-color: black;
}

#dcappHeaderLogo {
	min-height: 64px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

#dcappHeaderLbl {
	display: block;
	margin: auto;
	padding: 22px;
	text-align: left;
}

#dcappHeaderMenu {
	-webkit-box-flex: 1 32px;
	-moz-box-flex: 1 32px;
	-webkit-flex: 1 32px;
	-ms-flex: 1 32px;
	flex: 1 32px;
	
	display: block;
	
	text-align: right;
	margin: auto;
	min-width: 32px;
}

#dcappHeaderMenu > a {
	border: none;
}

/* -----------------------------------------------
	main content 
----------------------------------------------- */

#dcappMain {
	text-align: left;
}

/* -----------------------------------------------
	footer content 
----------------------------------------------- */

#dcappFooter {
	background-color: #f6f6f6;
	font-size: 12px;  
	line-height: 24px;
	/* display: inline-block; */
}

#dcappFooterContent {
	text-align: left;
	padding: 16px;
}

/* -----------------------------------------------
	inputs 
----------------------------------------------- */

.formbuttons {
	text-align: right;
}

.error {
	color: red;
}

html head+body .ui-btn.ui-btn-a, html head+body .ui-btn.ui-btn-a:visited {
	text-shadow: none;
	background-color: black;
	border:1px solid gray;
	color: white;
}

html head+body .ui-btn.ui-btn-a:hover, html head+body .ui-btn.ui-btn-a:focus {
	text-shadow: none;
}

#puConfirmHtml {
	padding: 24px;
	font-size: 16px;
}

/* ========== Upload ========= */

#frmUploadFile .progress {
	height: 28px;	
	border: 1px solid #606060;
	background-color: #000;
}

#frmUploadFile .pbar {
	background-color: #dd9018;
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
}

#frmUploadFile .pbarlabel {
	height: 100%;
	width: 100%;
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	padding-top: 5px;
	vertical-align: middle;
	text-align: center;
}

#dcappMain table i {
	font-size: 22px;
}
