/* -----------------------------------------------
	basic typography 
----------------------------------------------- */

html {
	font-size: 16px;
	font-family: Arial, sans-serif; 
}

h1,h2 {
	font-family: Arial, sans-serif; 
}

h1 {
	font-size: 24px;
	padding: 15px 0;
	margin: 0;
	text-align: center;
	letter-spacing: 0.1rem;	
}

h2 {
	font-size: 20px;
	margin-top: 12px; 
	letter-spacing: 0.1rem;
}

h3 .fa {
	font-size: 22px;
}

p {
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.1rem;
}

li {
	padding-bottom: 1rem;
}

/* -----------------------------------------------
	basic layout
----------------------------------------------- */

section {
	padding: 0 1%;
}

article {
	padding: 1rem;
}

body {
	padding: 0; 
	background-color: white;
}

.genericFlexRow, .dcFlexRow {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.genericFlexColumn, .dcFlexColumn {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
	
.genericFlexWrap, .dcFlexWrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
	
.genericFlexJustify, .dcFlexJustify {
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
	justify-content: space-around;
}

.genericFlexOne, .dcFlex1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.dcNoSelect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-popup-screen.in {
	opacity: 0.20;
	background-color: black;
}

/* =============== table layouts ================== */

/* thinner tables with 1 to 3 columns */
@media (min-width: 660px) {
	/* Show the table header rows and set all cells to display: table-cell */
	.table-thin-breakpoint td,
	.table-thin-breakpoint th,
	.table-thin-breakpoint tbody th,
	.table-thin-breakpoint tbody td,
	.table-thin-breakpoint thead td,
	.table-thin-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	
	/* Hide the labels in each cell */
	.table-thin-breakpoint td .ui-table-cell-label,
	.table-thin-breakpoint th .ui-table-cell-label {
		display: none;
	}
}

